#header {
	border: 0px solid #000000;
	border-radius: 0px;
	box-shadow: 0px 2px black;
	/*background-color: #D0D0D0;*/
	background-image: linear-gradient(0deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.2) 90%), url("images/Camera.jpg");
	/*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    background-position: center; 
    background-size: cover;
	padding : 50px 0px;
	margin-bottom: 10px;
	color: #FFFFFF;
	text-shadow: #505050 1px 1px, #505050 -1px 1px, #505050 -1px -1px, #505050 1px -1px;
}
#header h1 {
	font-family: "Baloo Bhaina", cursive;
	font-size: 10em;
}

#header p {
	font-family: "Open Sans", sans-serif;
	font-size: 3em;
}

#logos{
	margin-left: auto;
    margin-right: auto;
    width: 305px

}
	

#overall {
	margin: 25px 25px 25px 25px;
}

.tile {
	border-radius: 40px;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 450px;
    height: 450px;
    padding : 100px 100px;
	color:white;
	font-family: "Montserrat", sans-serif;
}

.button{
	margin-bottom: auto;
	margin-top: 4em;
	margin-left: -4em;	
}

#list {	
	background-color: #00A0D0;
}
#list a {
	color : rgb(240,240,240);
	font-size: 80px ;
}
#list a:hover {
	color : rgb(255,255,255);
}
#list p {
	font-size: 2.5em;
	margin-left: 1em;
	margin-right: -1.5em;
}

#borrow {
	background-color: #002B58;
}
#borrow a {
	color : rgb(240,240,240);
	font-size: 40px ;
	margin-left: 1em;
}
#borrow a:hover {
	color : rgb(255,255,255);
}
#borrow p {
	font-size: 40px;
	margin-left: -1.6em;
	margin-right: -2em;
}

#add {
	background-color: #50AF2F;
}
#add a {
	color : rgb(240,240,240);
	font-size: 80px ;
}
#add a:hover {
	color : rgb(255,255,255);
}
#add p {
	font-size: 40px;
}

#suscribe {
	background-color: #A59C96;
}
#suscribe a {
	color : rgb(240,240,240);
	margin-left: 1em;
}
#suscribe a:hover {
	color : rgb(255,255,255);
}
#suscribe p {
	font-size: 40px;
}

#list-icon {
	font-size: 2em;
}

#phone-icon {
	font-size: 10em;
}